/* Main categories */
.md-nav--primary
> .md-nav__list
> .md-nav__item--nested
> .md-nav__link {
    display: flex !important;
    align-items: center;
    width: 100%;
    font-size: 0.85rem;
    font-weight: 800;
    color: var(--md-accent-fg-color);
    cursor: pointer !important;
}

/* Hover */
.md-nav--primary
> .md-nav__list
> .md-nav__item--nested
> .md-nav__link:hover {
    color: var(--md-accent-fg-color);
}

/* Arrow */
.custom-nav-toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    min-width: 24px;
    height: 24px;

    margin-right: 6px;
    padding: 0;

    border: 0;
    background: transparent;

    color: var(--md-accent-fg-color);
    cursor: pointer;
    pointer-events: auto;
}

/* Child navigation */
.md-nav--primary
> .md-nav__list
> .md-nav__item--nested
> .md-nav {
    padding-left: 30px;
}

/* Child items */
.md-nav--primary
.md-nav__item--nested
.md-nav
.md-nav__link {
    font-size: 0.70rem;
    font-weight: 400;
}


/* =========================================
   Typography
   ========================================= */

.md-content {
    font-family: "Inter", sans-serif;
    line-height: 1.65;
}


/* H1 */
.md-content h1 {
    font-weight: 800;
    letter-spacing: -0.02em;
}


/* H2 - Main question / topic */
.md-content h2 {
    font-weight: 700;
    letter-spacing: -0.01em;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
}


/* H3 */
.md-content h3 {
    font-weight: 650;
}


/* H4 */
.md-content h4 {
    font-weight: 600;
}


/* Body text */
.md-content p,
.md-content li {
    font-weight: 400;
}


/* Strong / bold text */
.md-content strong {
    font-weight: 700;
}


/* Code */
.md-content code,
.md-content pre {
    font-family: "JetBrains Mono", monospace;
}